 /* mail list */

 .mail-list {
     flex-direction: column;
     /* justify-content: space-between; */
     align-items: center;
     /* list-style: none;
     padding: 0; */
     overflow-y: auto;
     max-height: 800px;
 }

 .mail-list li {
     display: flex;
     /* justify-content: space-between; */
     align-items: center;
     /* gap: 20px; */
     width: 100%;
     line-height: 1.25rem;
     margin-block: .625rem;
     /* border-bottom: 1px solid; */

 }

 .mail-list li.unread {
     background-color: var(--email-color-unread);
 }

 .mail-list li:hover {
     box-shadow:
         1px 0px 0px 0px rgb(218, 220, 224) inset,
         -1px 0px 0px 0px rgb(218, 220, 224) inset,
         0px 1px 2px 0px rgba(60, 64, 67, 0.3),
         0px 1px 3px 1px rgba(60, 64, 67, 0.15);
     cursor: pointer;
     overflow: hidden;
 }

 .mail-from {
     padding-inline-end: 10em;
     padding-inline-start: 2em;
 }

 .mail-body {
     flex-grow: 1;
 }

 .mail-date {
     margin-inline-end: 2em;
 }

 .mail-list li.read {
     background-color: var(--email-color-read);
 }

 .preview-icons {
     display: none;
     position: absolute;
     right: 1rem;
 }

 .mail-list li:hover .preview-icons {
     display: flex;
     align-items: center;
     justify-content: center;
     column-gap: 20px;
 }

 .mail-list li:hover .mail-date {
     display: none;
 }

 .mail-list li:hover .mail-body {
     flex-grow: 0.5;
 }