.email-layout.collapse {
    grid-template-columns: 3.75rem 3fr 1fr;
}

.email-folder-list.collapse {
    max-width: 60px;
}

.email-folder-list.collapse li {
    width: fit-content;
}

.email-folder-list.collapse li.active {
    max-width: 100%;
}

.hambar {
    align-self: start;
    font-size: 24px;
    margin-inline-start: 5px;
    padding-block: 0.5em;
    padding-inline: 0.5em;
}

.hambar:hover {
    cursor: pointer;
    background-color: var(--email-onhover-color);
    border-radius: 50%;
}

.email-folder-list.collapse li:hover {
    max-width: 100%;
}

.email-folder-list.collapse .compose-wrapper {
    padding: 0;
    margin: 0;
}

.email-folder-list.collapse .compose-wrapper .compose-icon {
    margin-inline-end: 0.3rem;
}

.links-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 0;
    margin-inline-start: -10px;
}

.links-wrapper li {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 15rem;
    margin-block-end: 1px;
    border-radius: 1rem;
    padding-inline-start: 30px;
    height: 32px;
    font-size: 14px;
    color: var(--email-folder-font-color);
}

.folder-icon {
    margin-inline-end: 20px;
}

.links-wrapper li.active {
    background-color: var(--email-folder-color);
}

.links-wrapper li a:not(.folder-icon) {
    flex-grow: 0.9;
}

.compose-wrapper {
    /* grid-column: 1; */
    /* grid-row: 1; */
    align-items: center;
    justify-content: center;
    max-width: 142px;
    height: 56px;
    margin-block-start: 0.6rem;
    border-radius: 1rem;
    margin-inline-start: 1em;
    background-color: var(--email-compose-color);
    color: var(--email-compose-font-color);
}

.compose-icon {
    margin-inline-end: 1rem;
}

.compose-wrapper:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}

.links-wrapper li:hover {
    background-color: var(--email-onhover-color);
}