:root {
    /* app vars */
    --main-bg-color: lightblue;
    /* email vars */
    --email-color: #FFFFFF;
    --email-color-unread: #FFFFFF;
    --email-color-read: #f2f6fc;
    --email-searchbox-color: #eaf1fb;
    --email-searchbox-color-focus: #FFFFFF;
    --email-compose-color: #c2e7ff;
    --email-compose-font-color: #001d35;
    --email-header-color: #F6F8FC;
    --email-menu-color: #F6F8FC;
    --email-font-color: #202124;
    --email-folder-color: #d3e3fd;
    --email-folder-font-color: #001d35;
    --email-sidefilter-color: #f6f8fc;
    --email-onhover-color: #72788545;
    /* keep vars*/

    /*colors*/

    --keep-logo: #5f6368;

    --keep-action: rgb(26, 115, 232);

    --keep-light-txt: rgb(95, 99, 104);
    --keep-dark-txt: #202124;

    --keep-note-border: #e0e0e0;

    /* font sizes*/
    --keep-note-font-regular: 18px;
    --keep-note-font-small: 14px;

}