 /* note list */

 .list {
     display: flex;
     gap: 16px;
     flex-wrap: wrap;
     justify-content: center;
     /* visibility: collapse; */

     /* display: grid; */
     /* padding-inline: 100px; */
     /* grid-template-columns: repeat(auto-fill, 240px); */
     /* grid-template-rows: min-content; */
     /* grid-auto-flow: dense; */
     /* columns: 3 220px; */
     /* column-rule: 1px solid lightgray; */
     /* column-gap: 16px; */


 }

 .list li {
     break-inside: avoid;
     /* margin-block-end: 1em; */
     position: relative;
 }