.content {
    min-height: 30px;
    font-family: GoogleSans;
    word-break: break-word;
    word-wrap: break-word;
}

.content h3 {
    letter-spacing: .00625em;
    font-family: GoogleSansMedium;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--keep-dark-txt);
}

.content p {
    margin: 12px 0;
    white-space: pre-wrap;
}

.todos {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

.box-checked svg,
.checkbox svg {
    position: relative;
    top: 7px;
}

.box-checked {
    text-decoration: line-through;
}