.content {
    min-height: 30px;

    /* margin: 0; */

    /* overflow: visible; */
    word-break: break-word;
    word-wrap: break-word;
    font-size: var(--keep-note-font-small);
    /* font-family: "Google Sans", Roboto, Arial, sans-serif; */
    /* font-size: 1.125rem; */
    font-weight: 400;
    /* letter-spacing: 0; */
    /* line-height: 1.5rem; */
}

.content p {
    margin: 0;
    white-space: pre-wrap;
}