.content {
    min-height: 30px;
    font-family: GoogleSans;
    /* margin: 0; */

    /* overflow: visible; */
    word-break: break-word;
    word-wrap: break-word;
    /* font-size: var(--keep-note-font-small); */
    /* font-family: "Google Sans", Roboto, Arial, sans-serif; */
    /* font-size: 1.125rem; */
    /* font-weight: 400; */
    /* letter-spacing: 0; */
    /* line-height: 1.5rem; */
}

.content h3 {
    letter-spacing: .00625em;
    font-family: GoogleSansMedium;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--keep-dark-txt);
}

.content p {
    margin: 12px 0;
    white-space: pre-wrap;
    /* margin-top: 12px; */
}

.todos {
    font-family: Roboto, Arial, sans-serif;
    /* font-size: calc(14em / 16); */
    font-size: 14px;
}

.box-checked svg,
.checkbox svg {
    position: relative;
    top: 7px;
}

.box-checked {
    text-decoration: line-through;
}