.note-edit {
    position: absolute;
    z-index: 10;
    /* width: 100dvw; */
    width: 100%;
    height: 100%;
    /* margin: 0; */
    /* min-height: 100vh; */
    background-color: #00000087;
    /* background-color: transparent; */
    padding-top: 125px;
    /* overflow: auto; */
    /* margin-bottom: 50px; */

    /* padding-bottom: 125px; */
    /* background-color: var(--keep-dark-txt); */
    /* opacity: 0.6; */
}

.note-edit form {
    background-color: white;
    position: absolute;
    width: 600px;
    /* opacity: 1; */
    /* z-index: 11; */
    /* margin-top: calc(93px + 125px); */
    /* top: calc(93px + 125px); */
    /* transform: translate(0, -50%); */
    margin-bottom: 50px;
    border: 1px solid var(--keep-note-border);
    left: calc(50% - 600px / 2);
    border-radius: 8px;
    padding: 16px 15px;
}

/* this is double code with textarea: */


.note-edit form>* {
    /* margin-block: 1px; */
    font-family: GoogleSans;
    font-weight: 200;
    display: block;
    width: 100%;
    border-color: transparent;
    /* font-size: 22px; */
    color: var(--keep-dark-txt);

}

.note-edit input {
    margin-bottom: 12px;
    font-size: 1.375rem;
}

.note-edit textarea {
    font-family: Roboto;
    font-size: 16px;
    /* color: var(--keep-dark-txt); */

}