@media(max-width:800px) {
    .email-layout.collapse {
        grid-template-columns: 3.75rem 3fr 1fr;
    }

    .email-folder-list.collapse {
        max-width: 60px;
    }

    .email-folder-list.collapse li {
        width: fit-content;
    }

    .email-folder-list.collapse li.active {
        max-width: 100%;
    }

    .email-folder-list.collapse li:hover {
        max-width: 100%;
    }

    .email-folder-list.collapse .compose-wrapper {
        padding: 0;
        margin: 0;
        margin-block-start: 0.6em;
    }

    .email-folder-list.collapse .compose-wrapper .compose-icon {
        margin-inline-end: 0.3rem;
    }

    .hambar {
        display: none;
    }

}